<?xml version="1.0"?>
<model>
  <name>Lunar Rover</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Rice Robotics Club</name>
    <email>riceroboticsclub@gmail.com</email>
  </author>
  <description>
    A model of the RRC Lunar Team's Assembly 1 Rover. Gazebo Import Test for 2->
  </description>
</model>
